@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  background-color: #111827;
  height: 100%;
}

@media only screen and (max-width: 400px) {
  body {
    height: 100%;
    width: fit-content;
  }
}

button:hover{
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: 300ms;
  background-color: rgb(147,51,234);
  color: aliceblue;
}
td{
  padding: 4px;
  
}
.loader {
  width: 35px;
  height: 35px;
  border: 5px solid #f461ff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  .small-loader
  {
    width: 15px;
    height: 15px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
